3.0.0.507
1363
1090,sid:1090,0,main,0,1688550861,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1091,sid:1091,0,main2,0,1688550861,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1092,sid:1092,0,main3,0,1688550828,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1097,sid:1097,0,kiji,0,1688550828,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1098,sid:1098,0,noti,0,1688550828,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1103,sid:1103,0,sinobio,0,1688550802,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1136,sid:1136,0,math,0,1688550802,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1137,sid:1137,0,phys,0,1688550802,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1138,sid:1138,0,bio,0,1688550802,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1312,sid:1312,0,chem,0,1689175403,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1139,sid:1139,0,vos,0,1688550802,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1151,sid:1151,0,phys-dayly,0,1688550802,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1153,sid:1153,0,phys-zy,0,1688550802,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1235,sid:1235,0,math-zy,0,1688550802,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1289,sid:1289,0,lib,0,1688890481,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1292,sid:1292,0,执行报告,0,1688904700,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1294,sid:1294,0,协商通过,0,1688904196,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1315,sid:1315,0,chem-zy,0,1689364139,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1320,sid:1320,0,mook,0,1689451257,2
vti_globalpage:BW|true
vti_navsequence:BW|true
1000,index.html,0,山河大学-理学部,0,1702538988,1
vti_globalpage:BW|true
1351,index.html,0,首页,1090,1702538988,0
1303,vos.html,0,理学之声,1090,1689092187,0
1323,mook.html,0,课程和活动,1090,1689458571,0
1287,math.html,0,数院,1090,1690471409,0
1149,phys.html,0,物院,1090,1690471409,0
1259,bio.html,0,生科院,1090,1690471409,0
1311,chem.html,0,化院,1090,1690471409,0
1326,geo.html,0,地理,1090,1690471409,0
1327,dafs.html,0,DAFS天文,1090,1690471409,0
1362,psyc.html,0,心理学院,1090,1718639338,0
1299,giyin.html,0,理学部协调机构,1090,1689092187,0
1107,serv/msg.html,0,留言板,1090,1688887438,0
1288,serv/search.html,0,搜索,1091,1688888821,0
1338,https://www.shanhebbs.com/,1,山河BBS,1091,1698570745,0
1339,https://www.shanhe.pro/,1,官网,1091,1698570745,0
1262,https://www.sci-hub.se/,1,SciHub-将知识带给每个人,1092,1688457549,0
1345,https://lib.shanhe.pro/,1,校立图书馆,1092,1698571045,0
1346,serv/lib/math/libpage.html,0,理学部图书馆,1092,1698571045,0
1340,https://xu.shanhebbs.com/,1,许愿表白墙(山河BBS),1092,1698570849,0
1341,https://www.shanhe.pro/jigou,1,其他学校机构,1092,1698570849,0
1342,https://gx.shanhe.pro/,1,工学部,1092,1698570849,0
1277,old/xyjs.html,0,建设一流学部一流学院一流学科,1097,1689016290,0
1360,vos/sinobio.html,0,新刊！2024年5月4日《冲水问题》,1098,1714758074,0
1355,vos/noti/并入心理学院.html,0,心理学院，加入理学部大家庭,1098,1714753987,0
1354,vos/noti/协商机构发表重要通知.html,0,协商机构发表重要通知,1098,1714753987,0
1353,vos/noti/网站地址变更.html,0,理学部网站地址变更啦！,1098,1714753299,0
1284,vos/noti/理学部人员分工模板发布.html,0,理学部人员分工模板发布,1098,1688734086,0
1283,vos/noti/理学部基本人员架构发布.html,0,理学部基本人员架构发布,1098,1688733978,0
1215,vos/math/aiti/院刊刊名的征集.html,0,院刊刊名的征集,1098,1689171482,0
1132,vos/noti/欢迎加入山河大学理学部.html,0,欢迎加入山河大学理学部,1098,1688456934,0
1133,vos/noti/理学部各院群.html,0,理学部各院群,1098,1688456934,0
1347,https://www.shanhebbs.com/forum-89-1.html,1,点击进入院刊发布页(山河BBS)(暂停运作),1103,1714755629,0
1358,vos/sinobio/冲水问题.pdf,0,vos/sinobio/冲水问题.pdf,1103,1714755629,0
1359,vos/sinobio/粗糙路径理论简介.pdf,0,vos/sinobio/粗糙路径理论简介.pdf,1103,1714755629,0
1324,vos/math/aiti/山河数学指南-第一期.html,0,山河数学指南-第一期,1136,1689500448,0
1309,vos/math/aiti/开设高大连携高数课程的设想.html,0,开设高大连携高数课程的设想,1136,1689171637,0
1282,vos/math/aiti/【杂谈】暖群方法总结.html,0,【杂谈】暖群方法总结,1136,1689171496,0
1257,vos/math/aiti/【杂谈】有趣的875979934.html,0,【杂谈】有趣的875979934,1136,1689171481,0
1256,vos/math/aiti/【杂谈】奇怪的数字875979934.html,0,【杂谈】奇怪的数字875979934,1136,1689171481,0
1214,vos/math/aiti/院刊刊名的征集.html,0,院刊刊名的征集,1136,1689171482,0
1212,vos/math/aiti/关于院刊的细节.html,0,关于院刊的细节,1136,1689171481,0
1213,vos/math/aiti/关于数学科学学部征集院刊刊文的通知.html,0,关于数学科学学部征集院刊刊文的通知,1136,1689171481,0
1265,vos/phys/arti/理学部物理学院建设报告.html,0,理学部物理学院建设报告,1137,1689170142,0
1266,vos/phys/arti/物理学院建设洽谈会-会议纪要.html,0,物理学院建设洽谈会-会议纪要,1137,1689170142,0
1267,vos/phys/arti/大学物理（力学，热力学，电磁学，光学）教学大纲.html,0,大学物理（力学，热力学，电磁学，光学）教学大纲,1137,1689170142,0
1268,vos/phys/arti/探索物理学院特色的共同学习形式.html,0,探索物理学院特色的共同学习形式,1137,1689170142,0
1211,vos/phys/arti/关于物理学部征集院刊刊文的通知.html,0,关于物理学部征集院刊刊文的通知,1137,1689170142,0
1314,vos/chem/arti/化院发展不能落下.html,0,化院发展不能落下,1312,1689175403,0
1352,vos/chem/arti/免费参考书资源（偏化学类）网站推荐.html,0,免费参考书资源（偏化学类）网站推荐,1312,1714753130,0
1307,vos.html,0,首页,1139,1689169168,0
1140,vos/noti.html,0,通知,1139,1688550891,0
1306,mook.html,0,课程和活动,1139,1689438307,0
1145,vos/sinobio.html,0,联合院刊,1139,1689169213,0
1308,serv/lib/math/libpage.html,0,数字图书馆,1139,1689171065,0
1141,vos/news.html,0,新闻记事,1139,1688550884,0
1143,vos/math.html,0,数院发布,1139,1689174780,0
1142,vos/phys.html,0,物院/每日一题,1139,1689169909,0
1144,vos/bio.html,0,生科院发布,1139,1688550862,0
1313,vos/chem.html,0,化院发布,1139,1689174792,0
1337,vos/phys/daily/SHU(MRU)物理学院-每日一题22.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题22.pdf,1151,1690472655,0
1336,vos/phys/daily/SHU(MRU)物理学院-每日一题21.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题21.pdf,1151,1690472655,0
1335,vos/phys/daily/SHU(MRU)物理学院-每日一题20.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题20.pdf,1151,1690472655,0
1334,vos/phys/daily/SHU(MRU)物理学院-每日一题19.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题19.pdf,1151,1690472655,0
1333,vos/phys/daily/SHU(MRU)物理学院-每日一题18.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题18.pdf,1151,1690472655,0
1332,vos/phys/daily/SHU(MRU)物理学院-每日一题17.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题17.pdf,1151,1690472655,0
1331,vos/phys/daily/SHU(MRU)物理学院-每日一题16.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题16.pdf,1151,1690472655,0
1330,vos/phys/daily/SHU(MRU)物理学院-每日一题15.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题15.pdf,1151,1690472655,0
1329,vos/phys/daily/SHU(MRU)物理学院-每日一题14.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题14.pdf,1151,1690472655,0
1328,vos/phys/daily/SHU(MRU)物理学院-每日一题13.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题13.pdf,1151,1690472622,0
1325,vos/phys/daily/SHU(MRU)物理学院-每日一题12.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题12.pdf,1151,1689504505,0
1319,vos/phys/daily/SHU(MRU)物理学院-每日一题11.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题11.pdf,1151,1689420631,0
1318,vos/phys/daily/SHU(MRU)物理学院-每日一题10.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题10.pdf,1151,1689420631,0
1317,vos/phys/daily/SHU(MRU)物理学院-每日一题9.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题9.pdf,1151,1689420631,0
1310,vos/phys/daily/SHU(MRU)物理学院-每日一题8.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题8.pdf,1151,1689172934,0
1304,vos/phys/daily/SHU(MRU)物理学院-每日一题7.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题7.pdf,1151,1689137925,0
1302,vos/phys/daily/2023.7.6.pdf,0,vos/phys/daily/2023.7.6.pdf,1151,1689007950,0
1300,vos/phys/daily/SHU(MRU)物理学院-每日一题5.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题5.pdf,1151,1689007950,0
1301,vos/phys/daily/SHU(MRU)物理学院-每日一题6.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题6.pdf,1151,1689007950,0
1281,vos/phys/daily/SHU(MRU)物理学院-每日一题4.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题4.pdf,1151,1688733586,0
1280,vos/phys/daily/SHU(MRU)物理学院-每日一题3(新版).pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题3(新版).pdf,1151,1688733586,0
1278,vos/phys/daily/SHU(MRU)物理学院-每日一题3.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题3.pdf,1151,1688550861,0
1263,vos/phys/daily/SHU(MRU)物理学院-每日一题2.pdf,0,vos/phys/daily/SHU(MRU)物理学院-每日一题2.pdf,1151,1688481926,0
1152,vos/phys/daily/物理学院-每日一题(试行版1).pdf,0,cshu/vos/phys/daily/物理学院-每日一题(试行版1).pdf,1151,1688456934,0
1217,serv/lib/phys/saved/果壳中的量子场论.pdf,0,cshu/vos/phys/zy/果壳中的量子场论.pdf,1153,1689171065,0
1218,serv/lib/phys/saved/果壳中的群论.pdf,0,cshu/vos/phys/zy/果壳中的群论.pdf,1153,1689171065,0
1219,serv/lib/phys/saved/果壳中的统计力学.pdf,0,cshu/vos/phys/zy/果壳中的统计力学.pdf,1153,1689171065,0
1220,serv/lib/phys/saved/果壳中的相对论.pdf,0,cshu/vos/phys/zy/果壳中的相对论.pdf,1153,1689171065,0
1221,serv/lib/phys/saved/果壳中的宇宙.pdf,0,cshu/vos/phys/zy/果壳中的宇宙.pdf,1153,1689171065,0
1222,serv/lib/phys/saved/物理力学讲义 新世纪版 [钱学森编][上海交通大学出版社][2007][432页][11893435](2).pdf,0,cshu/vos/phys/zy/物理力学讲义 新世纪版 [钱学森编][上海交通大学出版社][2007][432页][11893435](2).pdf,1153,1689171065,0
1223,serv/lib/phys/saved/物理天文学前沿_霍伊尔.pdf,0,cshu/vos/phys/zy/物理天文学前沿_霍伊尔.pdf,1153,1689171065,0
1224,serv/lib/phys/saved/物理学 （上册）马文蔚.pdf,0,cshu/vos/phys/zy/物理学 （上册）马文蔚.pdf,1153,1689171065,0
1225,cshu/vos/phys/zy/saved/物理学大题典（第一版+第二版）.zip,0,cshu/vos/phys/zy/物理学大题典（第一版+第二版）.zip,1153,1688380737,0
1226,serv/lib/phys/saved/物理学大题典-电磁学与电动力学-第二版.pdf,0,cshu/vos/phys/zy/物理学大题典-电磁学与电动力学-第二版.pdf,1153,1689171065,0
1227,serv/lib/phys/saved/物理学大题典-分子原子亚原子物理学-第二版.pdf,0,cshu/vos/phys/zy/物理学大题典-分子原子亚原子物理学-第二版.pdf,1153,1689171065,0
1228,serv/lib/phys/saved/物理学大题典-相对论物理学-第二版.pdf,0,cshu/vos/phys/zy/物理学大题典-相对论物理学-第二版.pdf,1153,1689171065,0
1229,serv/lib/phys/saved/物理学第6版上 [东南大学七所工科院校编；马文蔚，周雨青改 编] 2014年版.pdf,0,cshu/vos/phys/zy/物理学第6版上 [东南大学七所工科院校编；马文蔚，周雨青改 编] 2014年版.pdf,1153,1689171065,0
1230,serv/lib/phys/saved/物理学第6版下 [东南大学七所工科院校编；马文蔚，周雨青，解希顺改 编] 2014年版.pdf,0,cshu/vos/phys/zy/物理学第6版下 [东南大学七所工科院校编；马文蔚，周雨青，解希顺改 编] 2014年版.pdf,1153,1689171065,0
1231,serv/lib/phys/saved/物理学中的群论 第二版 马中骐.pdf,0,cshu/vos/phys/zy/物理学中的群论 第二版 马中骐.pdf,1153,1689171065,0
1232,serv/lib/phys/saved/物理学中的张量分析.pdf,0,cshu/vos/phys/zy/物理学中的张量分析.pdf,1153,1689171065,0
1233,serv/lib/phys/saved/现代光学基础.pdf,0,cshu/vos/phys/zy/现代光学基础.pdf,1153,1689171065,0
1234,cshu/vos/phys/zy/saved/现代量子力学（第2版）-樱井纯（中文版）.pdf,0,cshu/vos/phys/zy/现代量子力学（第2版）-樱井纯（中文版）.pdf,1153,1688380738,0
1216,serv/lib/phys/saved/《物理学中的理论概念》.pdf,0,cshu/vos/phys/zy/《物理学中的理论概念》.pdf,1153,1689171065,0
1170,serv/lib/phys/saved/电动力学导论 Griffiths 第3版 2013.pdf,0,cshu/vos/phys/zy/电动力学导论 Griffiths 第3版 2013.pdf,1153,1689171065,0
1171,serv/lib/phys/saved/电动力学导论原书第3版翻译版 [（美）格里菲斯 著] 2014年版.pdf,0,cshu/vos/phys/zy/电动力学导论原书第3版翻译版 [（美）格里菲斯 著] 2014年版.pdf,1153,1689171065,0
1172,serv/lib/phys/saved/定性与半定量物理学.pdf,0,cshu/vos/phys/zy/定性与半定量物理学.pdf,1153,1689171065,0
1173,serv/lib/phys/saved/放射化学和核化学 Radiochemistry and Nuclear Chemistry.pdf,0,cshu/vos/phys/zy/放射化学和核化学 Radiochemistry and Nuclear Chemistry.pdf,1153,1689171065,0
1174,cshu/vos/phys/zy/saved/费恩曼物理学讲义新千年版（第二卷）.pdf,0,cshu/vos/phys/zy/费恩曼物理学讲义新千年版（第二卷）.pdf,1153,1688379113,0
1175,serv/lib/phys/saved/费恩曼物理学讲义新千年版（第三卷）.pdf,0,cshu/vos/phys/zy/费恩曼物理学讲义新千年版（第三卷）.pdf,1153,1689171065,0
1176,serv/lib/phys/saved/费恩曼物理学讲义新千年版（第一卷）.pdf,0,cshu/vos/phys/zy/费恩曼物理学讲义新千年版（第一卷）.pdf,1153,1689171065,0
1177,serv/lib/phys/saved/果壳中的天体物理学.pdf,0,cshu/vos/phys/zy/果壳中的天体物理学.pdf,1153,1689171065,0
1178,serv/lib/phys/saved/果壳中的弦论.pdf,0,cshu/vos/phys/zy/果壳中的弦论.pdf,1153,1689171065,0
1179,serv/lib/phys/saved/核工程手册 Nuclear Engineering Handbook.pdf,0,cshu/vos/phys/zy/核工程手册 Nuclear Engineering Handbook.pdf,1153,1689171065,0
1180,serv/lib/phys/saved/积分表公式推导.pdf,0,cshu/vos/phys/zy/积分表公式推导.pdf,1153,1689171065,0
1181,serv/lib/phys/saved/经典电动力学  （上册）.pdf,0,cshu/vos/phys/zy/经典电动力学  （上册）.pdf,1153,1689171065,0
1182,serv/lib/phys/saved/经典电动力学  （下册）.pdf,0,cshu/vos/phys/zy/经典电动力学  （下册）.pdf,1153,1689171065,0
1183,serv/lib/phys/saved/经典力学 by 戈德斯坦 (z-lib.org).pdf,0,cshu/vos/phys/zy/经典力学 by 戈德斯坦 (z-lib.org).pdf,1153,1689171065,0
1184,serv/lib/phys/saved/朗道十卷.zip,0,cshu/vos/phys/zy/朗道十卷.zip,1153,1689171065,0
1185,serv/lib/phys/saved/理论力学- 刘川.pdf,0,cshu/vos/phys/zy/理论力学- 刘川.pdf,1153,1689171065,0
1186,serv/lib/phys/saved/理论力学（Ⅰ）哈工大第8版.pdf,0,cshu/vos/phys/zy/理论力学（Ⅰ）哈工大第8版.pdf,1153,1689171065,0
1187,serv/lib/phys/saved/理论力学（Ⅱ）哈工大第8版.pdf,0,cshu/vos/phys/zy/理论力学（Ⅱ）哈工大第8版.pdf,1153,1689171065,0
1188,serv/lib/phys/saved/量子力学（卷Ⅰ）-曾谨言.pdf,0,cshu/vos/phys/zy/量子力学（卷Ⅰ）-曾谨言.pdf,1153,1689171065,0
1189,serv/lib/phys/saved/量子力学（卷Ⅱ）-曾谨言.pdf,0,cshu/vos/phys/zy/量子力学（卷Ⅱ）-曾谨言.pdf,1153,1689171065,0
1190,serv/lib/phys/saved/量子力学导论-曾谨言.pdf,0,cshu/vos/phys/zy/量子力学导论-曾谨言.pdf,1153,1689171065,0
1191,serv/lib/phys/saved/量子力学第1卷-科恩.pdf,0,cshu/vos/phys/zy/量子力学第1卷-科恩.pdf,1153,1689171065,0
1192,serv/lib/phys/saved/量子力学第2卷-科恩.pdf,0,cshu/vos/phys/zy/量子力学第2卷-科恩.pdf,1153,1689171065,0
1193,serv/lib/phys/saved/量子力学第3卷(英文版)-科恩 Fermions\, Bosons\, Photons\, Correlations\, and Entanglement.pdf,0,cshu/vos/phys/zy/量子力学第3卷(英文版)-科恩 Fermions\, Bosons\, Photons\, Correlations\, and Entanglement.pdf,1153,1689171065,0
1194,serv/lib/phys/saved/量子力学与路径积分-[美]R. P. 费曼 [美]A. R. 希布斯 R. P. Feynman A. R. Hibbs 张邦固(译).pdf,0,cshu/vos/phys/zy/量子力学与路径积分-[美]R. P. 费曼 [美]A. R. 希布斯 R. P. Feynman A. R. Hibbs 张邦固(译).pdf,1153,1689171065,0
1195,serv/lib/phys/saved/林宗涵《热力学统计物理学》（第1版，2007，北京大学出版社）.pdf,0,cshu/vos/phys/zy/林宗涵《热力学统计物理学》（第1版，2007，北京大学出版社）.pdf,1153,1689171065,0
1196,serv/lib/phys/saved/刘川 四大力学讲义.zip,0,cshu/vos/phys/zy/刘川 四大力学讲义.zip,1153,1689171065,0
1197,serv/lib/phys/saved/普林斯顿概率论读本.pdf,0,cshu/vos/phys/zy/普林斯顿概率论读本.pdf,1153,1689171065,0
1198,serv/lib/phys/saved/热力学  （第2版）王竹溪_11550046.pdf,0,cshu/vos/phys/zy/热力学  （第2版）王竹溪_11550046.pdf,1153,1689171065,0
1199,serv/lib/phys/saved/热学与统计物理学.pdf,0,cshu/vos/phys/zy/热学与统计物理学.pdf,1153,1689171065,0
1200,serv/lib/phys/saved/数学物理方法  梁昆淼 .pdf,0,cshu/vos/phys/zy/数学物理方法  梁昆淼 .pdf,1153,1689171065,0
1201,serv/lib/phys/saved/数学物理方法（顾樵，2012）.pdf,0,cshu/vos/phys/zy/数学物理方法（顾樵，2012）.pdf,1153,1689171065,0
1202,serv/lib/phys/saved/微分几何入门与广义相对论上（梁灿彬）.pdf,0,cshu/vos/phys/zy/微分几何入门与广义相对论上（梁灿彬）.pdf,1153,1689171065,0
1203,serv/lib/phys/saved/微分几何入门与广义相对论下（梁灿彬）.pdf,0,cshu/vos/phys/zy/微分几何入门与广义相对论下（梁灿彬）.pdf,1153,1689171065,0
1204,serv/lib/phys/saved/微分几何入门与广义相对论中（梁灿彬）.pdf,0,cshu/vos/phys/zy/微分几何入门与广义相对论中（梁灿彬）.pdf,1153,1689171065,0
1205,serv/lib/phys/saved/物理学大题典-固体物理及物理量测量-第二版.pdf,0,cshu/vos/phys/zy/物理学大题典-固体物理及物理量测量-第二版.pdf,1153,1689171065,0
1206,serv/lib/phys/saved/物理学难题集萃.pdf,0,cshu/vos/phys/zy/物理学难题集萃.pdf,1153,1689171065,0
1207,serv/lib/phys/saved/物理学院-每日一题(试行版1).pdf,0,cshu/vos/phys/zy/物理学院-每日一题(试行版1).pdf,1153,1689171065,0
1208,serv/lib/phys/saved/物理学中的群论 上下(陶瑞宝)s_q.pdf,0,cshu/vos/phys/zy/物理学中的群论 上下(陶瑞宝)s_q.pdf,1153,1689171065,0
1209,serv/lib/phys/saved/线性代数应该这样学（Sheldon Axler).pdf,0,cshu/vos/phys/zy/线性代数应该这样学（Sheldon Axler).pdf,1153,1689171065,0
1210,serv/lib/phys/saved/最新核磁溶剂峰.pdf,0,cshu/vos/phys/zy/最新核磁溶剂峰.pdf,1153,1689171065,0
1154,serv/lib/phys/saved/[物理学大题典].1.力学（上下册）.强元棨&程稼夫.扫描版.pdf,0,cshu/vos/phys/zy/[物理学大题典].1.力学（上下册）.强元棨&程稼夫.扫描版.pdf,1153,1689171065,0
1155,serv/lib/phys/saved/[物理学大题典].3.光学.pdf,0,cshu/vos/phys/zy/[物理学大题典].3.光学.pdf,1153,1689171065,0
1156,serv/lib/phys/saved/[物理学大题典].5.热学_热力学_统计力学.pdf,0,cshu/vos/phys/zy/[物理学大题典].5.热学_热力学_统计力学.pdf,1153,1689171065,0
1157,serv/lib/phys/saved/《物理学大题典》2 电磁学与电动力学.pdf,0,cshu/vos/phys/zy/《物理学大题典》2 电磁学与电动力学.pdf,1153,1689171065,0
1158,serv/lib/phys/saved/《物理学大题典》4 原子亚原子与相对论物理学.pdf,0,cshu/vos/phys/zy/《物理学大题典》4 原子亚原子与相对论物理学.pdf,1153,1689171065,0
1159,serv/lib/phys/saved/《物理学大题典》6.量子力学.张永德等.pdf,0,cshu/vos/phys/zy/《物理学大题典》6.量子力学.张永德等.pdf,1153,1689171065,0
1160,serv/lib/phys/saved/《物理学大题典》7 固体物理及物理量测量.pdf,0,cshu/vos/phys/zy/《物理学大题典》7 固体物理及物理量测量.pdf,1153,1689171065,0
1161,serv/lib/phys/saved/【量子力学概论】 _ 格里菲斯.pdf,0,cshu/vos/phys/zy/【量子力学概论】 _ 格里菲斯.pdf,1153,1689171065,0
1162,serv/lib/phys/saved/Classical Electrodynamics (3rd edition1)-Jackson.pdf,0,cshu/vos/phys/zy/Classical Electrodynamics (3rd edition1)-Jackson.pdf,1153,1689171065,0
1163,serv/lib/phys/saved/Classical Mechanics solution manual_Goldstein Herbert_zhelper-search.pdf,0,cshu/vos/phys/zy/Classical Mechanics solution manual_Goldstein Herbert_zhelper-search.pdf,1153,1689171065,0
1164,serv/lib/phys/saved/Classical Mechanics-John R. Taylor.pdf,0,cshu/vos/phys/zy/Classical Mechanics-John R. Taylor.pdf,1153,1689171065,0
1165,serv/lib/phys/saved/Griffiths_电动力学导论第三版习题解答.pdf,0,cshu/vos/phys/zy/Griffiths_电动力学导论第三版习题解答.pdf,1153,1689171065,0
1166,serv/lib/phys/saved/JACKSON经典电动力学答案.pdf,0,cshu/vos/phys/zy/JACKSON经典电动力学答案.pdf,1153,1689171065,0
1167,serv/lib/phys/saved/Python编程导论（第2版）.pdf,0,cshu/vos/phys/zy/Python编程导论（第2版）.pdf,1153,1689171065,0
1168,serv/lib/phys/saved/Statistical Physics of Fields by Mehran Kardar.pdf,0,cshu/vos/phys/zy/Statistical Physics of Fields by Mehran Kardar.pdf,1153,1689171065,0
1169,serv/lib/phys/saved/Statistical Physics of Particles by Mehran Kardar.pdf,0,cshu/vos/phys/zy/Statistical Physics of Particles by Mehran Kardar.pdf,1153,1689171065,0
1242,serv/lib/math/saved/常微分方程.pdf,0,cshu/vos/math/zy/常微分方程.pdf,1235,1689171065,0
1243,serv/lib/math/saved/代数中的反例.pdf,0,cshu/vos/math/zy/代数中的反例.pdf,1235,1689171065,0
1244,serv/lib/math/saved/概率论与数理统计教程 茆诗松(第2版).pdf,0,cshu/vos/math/zy/概率论与数理统计教程 茆诗松(第2版).pdf,1235,1689171065,0
1245,serv/lib/math/saved/高等代数（第五版）张禾瑞.pdf,0,cshu/vos/math/zy/高等代数（第五版）张禾瑞.pdf,1235,1689171065,0
1246,serv/lib/math/saved/哈代数论 (第6版).pdf,0,cshu/vos/math/zy/哈代数论 (第6版).pdf,1235,1689171065,0
1247,serv/lib/math/saved/华东师大数学分析答案完整版.pdf,0,cshu/vos/math/zy/华东师大数学分析答案完整版.pdf,1235,1689171065,0
1248,serv/lib/math/saved/华东师范大学数学分析 (第5版) 下 by 华东师范大学数学系.pdf,0,cshu/vos/math/zy/华东师范大学数学分析 (第5版) 下 by 华东师范大学数学系.pdf,1235,1689171065,0
1249,serv/lib/math/saved/李文威《代数学方法》.pdf,0,cshu/vos/math/zy/李文威《代数学方法》.pdf,1235,1689171065,0
1250,serv/lib/math/saved/数学分析习题集根据2010年俄文版翻译.pdf,0,cshu/vos/math/zy/数学分析习题集根据2010年俄文版翻译.pdf,1235,1689171065,0
1251,serv/lib/math/saved/数学分析中的问题和反例_汪林.pdf,0,cshu/vos/math/zy/数学分析中的问题和反例_汪林.pdf,1235,1689171065,0
1252,serv/lib/math/saved/陶哲轩实分析.pdf,0,cshu/vos/math/zy/陶哲轩实分析.pdf,1235,1689171065,0
1253,cshu/vos/math/zy/saved/线性代数及其应用（原书第5版）  [美] 戴维 C.雷 [美] 史蒂文 R.雷 [美] 朱迪 J.麦克唐纳.pdf,0,cshu/vos/math/zy/线性代数及其应用（原书第5版）  [美] 戴维 C.雷 [美] 史蒂文 R.雷 [美] 朱迪 J.麦克唐纳.pdf,1235,1688382134,0
1254,serv/lib/math/saved/应用多元统计分析－高惠璇.pdf,0,cshu/vos/math/zy/应用多元统计分析－高惠璇.pdf,1235,1689171065,0
1255,serv/lib/math/saved/于品教授的数学分析讲义-Analysis123（清华丘班）.pdf,0,cshu/vos/math/zy/于品教授的数学分析讲义-Analysis123（清华丘班）.pdf,1235,1689171065,0
1237,serv/lib/math/saved/18.《拓扑空间中的反例》汪 林 杨富春编著.pdf,0,cshu/vos/math/zy/18.《拓扑空间中的反例》汪 林 杨富春编著.pdf,1235,1689171065,0
1238,serv/lib/math/saved/Complex Analysis(Stein).pdf,0,cshu/vos/math/zy/Complex Analysis(Stein).pdf,1235,1689171065,0
1239,serv/lib/math/saved/Fouier Analysis(Stein).pdf,0,cshu/vos/math/zy/Fouier Analysis(Stein).pdf,1235,1689171065,0
1240,serv/lib/math/saved/Heroes.pdf,0,cshu/vos/math/zy/Heroes.pdf,1235,1689171066,0
1241,serv/lib/math/saved/Real Analysis(Stein).pdf,0,cshu/vos/math/zy/Real Analysis(Stein).pdf,1235,1689171065,0
1236,serv/lib/math/saved/12.《泛函分析中的反例》汪 林编.pdf,0,cshu/vos/math/zy/12.《泛函分析中的反例》汪 林编.pdf,1235,1689171065,0
1290,serv/lib/math/libpage.html,0,数院,1289,1689171065,0
1291,serv/lib/phys/libpage.html,0,物院,1289,1689171065,0
1316,serv/lib/chem/libpage.html,0,化院,1289,1689364176,0
1344,https://lib.shanhe.pro/,1,校立图书馆,1289,1698570948,0
1357,giyin/act/将指定成员移出群聊的执行2023年7月12日.pdf,0,giyin/act/将指定成员移出群聊的执行2023年7月12日.pdf,1292,1714754359,0
1305,giyin/act/将指定成员移出群聊的执行2024年5月4日.pdf,0,giyin/act/将指定成员移出群聊的执行.pdf,1292,1714754223,0
1298,giyin/act/理学部协调机构对山河大学学院建设第九版文件的修改的请求.pdf,0,giyin/act/理学部协调机构对山河大学学院建设第九版文件的修改的请求.pdf,1292,1688904984,0
1356,giyin/gikai/理学部四月广报.pdf,0,giyin/act/理学部四月广报.pdf,1294,1714754173,0
1295,giyin/gikai/理学部基本人员架构.pdf,0,giyin/gikai/理学部基本人员架构.pdf,1294,1688904984,0
1296,giyin/gikai/理学部协调机构分工表.pdf,0,giyin/gikai/理学部协调机构分工表.pdf,1294,1688904984,0
1297,giyin/gikai/关于理学部联合院刊.pdf,0,giyin/gikai/关于理学部联合院刊.pdf,1294,1688904984,0
1322,mook.html,0,第一页,1320,1689453376,0
1321,mook/mook_2.html,0,第二页,1320,1689453344,0