vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Jul 2021 09:50:20 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|WINPC-OUJYOYO\\wangsychn
vti_modifiedby:SR|WINPC-OUJYOYO\\wangsychn
vti_timecreated:TR|30 Jul 2021 09:50:20 -0000
vti_cacheddtm:TX|30 Jul 2021 09:50:20 -0000
vti_filesize:IR|10418
vti_cachedlinkinfo:VX|S|images/close.png S|images/up.png S|images/down.png
vti_cachedsvcrellinks:VX|FSUS|serv/matedit/kityformula/assets/theme/default/images/close.png FSUS|serv/matedit/kityformula/assets/theme/default/images/up.png FSUS|serv/matedit/kityformula/assets/theme/default/images/down.png
vti_backlinkinfo:VX|
